@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
$main-color: #282c34;
$editor-color: #ede9da;
$rain: #2c3845;
$poppy: #bd2a4e;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: $main-color;
}

main#app {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $main-color;
  line-height: 1.5;
  font-size: 1.2rem;
  color: snow;

  // Editor section
  #editor {
    width: 100vw;
    background-color: $editor-color;
    color: black;
    padding: 40px;
    font-size: 1rem;
  }

  // Preview section
  #preview {
    height: 100%;
    padding: 0 40px;
  }
  h1 {
    font-size: 2rem;
  }
  // Paragraphs, plain text
  p {
    text-indent: 1rem;
  }

  // [link](url) Links
  a {
    text-decoration: none;
    color: lighten($rain, 35%);
  }
  a:hover {
    text-decoration: underline;
  }

  // 1. - Lists
  ol,
  ul {
    list-style-position: inside;
    margin: 0;
  }

  // > Quotes
  blockquote {
    padding: 10px;
    background-color: #272823;
    border-left: 3px solid white;
  }

  // | Tables |
  table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin: 15px;
  }
  table td,
  table th {
    text-align: center;
  }
  thead th {
    background: $rain;
  }

  tbody tr:nth-child(odd) {
    background-color: lighten($rain, 6%);
  }
  tbody tr:nth-child(even) {
    background-color: $rain;
  }

  // ![alt](link) Images
  img {
    display: inline-block;
    object-fit: contain;
    width: 48%;
  }
}
