$main-color: #282c34;
$editor-color: #ede9da;
$rain: #2C3845;
$poppy: #BD2A4E;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $main-color;
  line-height: 1.5;
  font-size: 1.25rem;
  color: snow;
  margin: 0;
  padding: 0;

  // Editor section
  #editor {
    width: 100vw;
    background-color: $editor-color;
    color: black;
    padding: 2.5rem;
    font-size: 1rem;
  }

  // Preview section
  #preview {
    height: 100%;
    padding: 0 2.5rem;
  }

  // Paragraphs, plain text
  p {
    text-indent: 1rem;
  }

  // [link](url) Links
  a {
    text-decoration: none;
    color: lighten($rain, 35%);
  }
  a:hover {
    text-decoration: underline;
  }

  // 1. - Lists
  ol, ul {
    list-style-position: inside;
    margin: 0;
  }

  // > Quotes
  blockquote {
    padding: 10px;
    background-color: #272823;
    border-left: 3px solid white;
  }

  // | Tables |
  table {
      border-radius: 5px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
      background-color: white;
      margin: 15px;
    }
    table td, table th {
      text-align: center;
    }
    thead th {
    background: $rain;
    }
  
    tbody tr:nth-child(odd) {
      background-color: lighten($rain, 6%);
    }
    tbody tr:nth-child(even) {
    background-color: $rain;
    }

  // ![alt](link) Images
  img {
    object-fit: contain;
    width: 48%;
  }
}